<!DOCTYPE html>
<html>
<head>
    <title>AI Chatbot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="app">

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>🤖 AI Chatbot</h2>
        <p class="tag">NLP Based Assistant</p>
    </div>

    <!-- Chat Area -->
    <div class="chat-area">

        <div id="chat-box" class="chat-box"></div>

        <div class="input-area">
            <input type="text" id="user-input" placeholder="Type a message..." onkeydown="handleEnter(event)">
            <button onclick="sendMessage()">➤</button>
        </div>

    </div>

</div>

<script src="/static/script.js"></script>
</body>
</html>